@font-face {
  font-family: Sun-Moon;
  src: url("font_pack__sun_and_moon_by_mucrush_d9t8kqh.ttf");
}

/* ------------------------------- */
@keyframes light-pulse {
  0% {
    filter: drop-shadow(0px 0px 6px #FFFF33);
  }

  100% {
    filter: drop-shadow(0px 0px 20px #FFFF33);
  }
}

/* ----------------------------------- */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-30px);
  }
}
@keyframes floating2 {
  0% {
    transform: translateY(10px);
  }


  100% {
    transform: translateY(-10px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* --------------------- */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ------------------------- */
@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes drop-in {
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }

}
body {
  margin: 0 auto;
  background-color: #101010;
  /* background-color: #000; */
  /* overflow: hidden;
}


#title-grid {
  display: block;
}

#title-grid {
  grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        " header header header"
        " . lightning-bolt ."
        " . . .";
    grid-gap: 9px;
    /* border: 1px solid #EEE;
}
#title-grid div {
  /* border: solid 1px;
  border-color: red;
   padding: 2%; */
}

#title {
  grid-area: header;
      /* color: #383838; */
      color: #101010;
      display: none;
      justify-content: center;
      font-family: Sun-Moon;
      text-align: center;
      /* width: 74%; */
      font-size: 750%;
      margin: 10.7%;
      background: -webkit-linear-gradient(#ff9900, #005aff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(2px 2px #333);
}

#lightningDiv {
    padding: 2%;
    margin: -6.3% 0;
    float: center;
}

#lightning-bolt {
    grid-area: lightning-bolt;
    fill: #383838;
    /* fill: #fff000; */

    display: block;
    position: relative;
    top: 36.7%;
    left: 80%;
  /* filter: drop-shadow(0px 0px 6px #FFFF33); */
  /* animation: light-pulse 1.5s infinite alternate ease-in,
   floating 3s infinite alternate ease-in-out;
  animation-play-state: pause; */
  /* animation-delay: 3s; */
    height: 15%;
    width: 12%;
  /* For clean hover transition */
    transition: 1s;
}

#lightning-bolt:hover {
    fill: blue;
    filter: drop-shadow(0px 0px 15px blue);
    transform: translateY(-25px);
  /* animation: floating 2s infinite alternate ease-in-out;
    animation-play-state: running; */
    transition: 1s
}

#tiffany {
   padding: 2%;
   margin: 10.7%;
}

#tiffany-logo {
  grid-area: darian-logo;
  color: #383838;
  display: block;
  position: relative;
  top: 36.7%;
  left: 42%;
  height: 15%;
  width: 12%;
  transition: 1s;
}

#tiffany-logo:hover {
  filter:drop-shadow(7px 3px 12px purple);
  transform: translateY(-25px);
}

#steph {
  padding: 2%;
  margin: 9.7%;
}

#steph-logo {
  grid-area: step-logo;
  color: #383838;
  display: block;
  position: relative;
  top: 36.7%;
  left: 42%;
  height: 15%;
  width: 9.7%;
  transition: 1s;
}

#steph-logo:hover {
  filter: drop-shadow(7px 3px 12px red);
  transform: translateY(-25px);
}

#nadira {
  padding: 2%;
  margin: -0.3%;
}

#nadira-logo {
  grid-area: nadira-logo;
  color: #EEE;
  display: block;
  position: relative;
  bottom: -404px;
  float: left;
  top: 36.7%;
  left: 10%;
  height: 15%;
  width: 12%;
  transition: 1s;
}

#nadira-logo:hover {
  filter: drop-shadow(7px 3px 12px green);
  transform: translateY(-25px);
}

/* -----------------CAROUSEL ---------------- */
